{% extends 'base.html' %}
{% block body %}

<div class="container my-3">
  <div class="container2 my-3 rounded p-3 border">

    <h2>Update the TODO</h2>

    <form action="/update/{{todo.sno}}" method="POST">

      <div class="mb-3">
        <label for="title" class="form-label">Task Title</label>

        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          value="{{todo.title}}"
          placeholder="Write a task"
        >
      </div>

      <div class="mb-3">
        <label for="desc" class="form-label">Task Description</label>

        <input
          type="text"
          class="form-control"
          name="desc"
          id="desc"
          value="{{todo.desc}}"
          placeholder="Write a task description"
        >
      </div>

      <button type="submit" class="btn btn-success">
        Update Task
      </button>

    </form>

  </div>
</div>

{% endblock body %}